*{
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: "Young-Serif", serif;
}

h4,p,li{
    font-family: "Outfit", serif;
}

body{
    background:#F3E5D8 ;
}

footer{
    text-align: center;
    font-weight: 300;
}

footer a{
    text-decoration: none;
    color: blue;
}

.container{
    background: #FFFFFF;
}

/*teste*/