/*DEFAULT CSS CONFIG*/
*{
    margin: 0;
    padding: 0;
}

h1,h2{
    font-family: "Young-Serif", serif;
}

h4,p,li{
    font-family: "Outfit", serif;
}

body{
    background:#F3E5D8 ;
}

img{
    border-radius: 10px;
}

h1{
    color: #302C29;
}

h2{
    color: #854533;
}

h4{
    color: #7B284D;
}

p{
    color: #302C29;
}

li{
    color: #302C29;
}

footer{
    text-align: center;
    font-weight: 300;
}

footer a{
    text-decoration: none;
    color: blue;
}

/**/

.container{
    background: #FFFFFF;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}

/*teste*/